name: Release Assets

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build plugin
        run: |
          mkdir -p out
          DOCKER_BUILDKIT=1 docker build --output type=local,dest=out .

      - name: Get plugin info
        id: plugin_info
        run: |
          PLUGIN_NAME=$(jq -r '.name' plugin.json)
          echo "name=$PLUGIN_NAME" >> $GITHUB_OUTPUT

      - name: Upload artifact to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: out/${{ steps.plugin_info.outputs.name }}.zip
          asset_name: ${{ steps.plugin_info.outputs.name }}.zip
          asset_content_type: application/zip
